
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'LatoLight';
  src: url('fonts/Lato-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: "LatoRegular";
  src: url("fonts/Lato-Regular.ttf") format("truetype");
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body {
  font-family: 'LatoLight', Arial, sans-serif;
//  display: flex;
//  min-height: 100vh;
//  flex-direction: column;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  flex: 1;
}

.img--fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo__img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.icon__link {
  text-decoration: none;
  color: $colore-testo;
}

.icon__link--facebook:hover {
  color: #3b5998;
}

.icon__link--tumblr:hover {
  color: #36465d;
}

.icon__link--twitter:hover {
  color: #55acee;
}

.footer__social {
  float: right;
}



//-------------
// FOTO
//------------
.img__photo {
  margin: 0 auto 45px auto;
}

.img__separatore {
  margin: 0 auto 45px auto;
}




//---------
// ABOUT
//---------
.about__block {
  @include breakpoint($tablet) {
    @include container();
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.about__title {
  @include breakpoint($tablet) {
    @include span(6 of 12);
  }
  width: 100%;
  margin: 0;
}

.about__list {
  @include breakpoint($tablet) {
    @include span(6 of 12 last);
  }
  list-style: none;
  margin: 0;
  padding: 0;
}
