
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Optima';
  src: url('fonts/Optima-Bold.eot');
  src: url('fonts/Optima-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Optima-Bold.woff2') format('woff2'),
       url('fonts/Optima-Bold.woff') format('woff'),
       url('fonts/Optima-Bold.ttf') format('truetype'),
       url('fonts/Optima-Bold.svg#Optima-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Optima';
  src: url('fonts/Optima-Regular.eot');
  src: url('fonts/Optima-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/Optima-Regular.woff2') format('woff2'),
       url('fonts/Optima-Regular.woff') format('woff'),
       url('fonts/Optima-Regular.ttf') format('truetype'),
       url('fonts/Optima-Regular.svg#Optima-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body {
  font-family: 'Optima', Arial, sans-serif;
  color: $colore-testo;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.content {
  flex: 1;
}

.img--fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo__img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.logo__hr {
  display: block;
  width: 55%;
  height: 3px;
  border: 0px;
  background: linear-gradient(to right, rgba(60, 60, 60, 0), rgba(60, 60, 60, 0.75), rgba(60, 60, 60, 0));
}

.logo__subtitle {
  text-transform: uppercase;
  text-align: center;
  font-size: smaller;
  font-weight: bold;
  margin-bottom: 30px;
}

.logo__subtitle span {
  display: inline-block;
  @include breakpoint($tablet) {
    border-top: 3px solid #666;
    padding: 10px 110px 0 110px;
  }
}

//------------
// FOOTER
//------------
.footer {
  margin: 50px 3px 3px 3px;
}

.icon__link {
  text-decoration: none;
  color: $colore-testo;
}

.icon__link--facebook:hover {
  color: #3b5998;
}

.icon__link--tumblr:hover {
  color: #36465d;
}

.icon__link--twitter:hover {
  color: #55acee;
}

.footer__social {
  float: right;
}



//-------------
// FOTO
//------------
.img__photo {
  margin: 0 auto 45px auto;
}

.img__separatore {
  margin: 0 auto 45px auto;
}

.img__slide {
  margin: 30px auto;
}

.img__photo--after-nav-slide {
  margin: 135px auto 45px auto;
}






//---------
// ABOUT
//---------
.about__block {
  @include breakpoint($tablet) {
    @include container();
    display: flex;
    align-items: center;
    justify-content: center;
  }
  margin-bottom: 35px;
}

.about__title {
  color: $colore-testo;
  text-align: center;
  font-weight: normal;
  background: url("img/cuore.png") no-repeat 30px 69%;
  @include breakpoint($tablet) {
    @include span(6 of 12);
    text-align: left;
    padding-left: 25px;
    background: url("img/cuore.png") no-repeat 5px 69%;
  }
  @include breakpoint($desktop) {
    @include span (6 of 12);
    padding-left: 260px;
    padding-bottom: 5px;
    background: url("img/cuore.png") no-repeat 230px 0px;
    font-size: 1em;
  }
}

.about__list {
  @include breakpoint($tablet) {
    @include span(6 of 12 last);
    text-align: left;
  }
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


//----------------
// INDEX
//---------------
.home__slider {
  margin-bottom: -30px;
}
