//-----------------
// SUSY MAP
//------------------
$susy: (
  global-box-sizing: border-box,
);


//--------------------
// Media queries
//--------------------
$tablet: 500px;
$desktop: 1020px;


//---------------
// Colori
//---------------
$colore-testo: #7a7a7a;
